.login-wrapper{
    display: flex;
    justify-content: flex-end; /* Alinea los elementos hijos a la derecha */
    align-items: center; /* Centra los elementos hijos verticalmente */
    height: 100vh;
    width: 100vw;
}

h1{
    color:#242424;
}

.login-container-container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    height: calc(100vh - 67.3px);
    margin: 0;
    padding: 15vw;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(100, 100, 100, 0.8);

    background-color: #ffffff;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    color: #242424;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.login-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.login-button:hover {
    background-color: #0056b3;
}


@media (max-width: 800px) {

    .login-wrapper{
        justify-content: center;
    }

    .login-container-container{
        padding: 10%;
    }
}